<div class="container w-50 text-center mt-5 text-white p-3" style="background-color: rgba(144, 120, 142, 0.778);">
    <h3 class="mb-3">TRANSACTION HISTROY</h3>
    <table class="border border-white w-100 p-2">
        <thead>
            <tr>
            <th class="border border-white">Type</th>
            <th class="border border-white">Amount</th>
            </tr>
    
        </thead>
        <tbody>
        <tr *ngFor="let i of transaction">
            <td class="border border-white">{{i.type}}</td>
            <td class="border border-white" >{{i.amount}}</td>
        </tr>
       </tbody>
    </table>
</div>